@media (min-width: 768px) {
  #site-navigation ul {
    float: right;
  }
  .site-header .site-branding {
    width: 28%;
  }
  .site-header .site-branding h1 a span {
    display: inline;
  }
  .sd-header-inline.woocommerce-active .site-header .main-navigation {
    width: 42%;
  }
  .home-intro h1 {
    font-size: 2.9em;
  }
  .home-intro p {
    font-size: 1.7em;
  }
  .home-buttons a:first-child {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .home-buttons a:last-child {
    margin-left: 10px;
  }
  .home-feature-icons ul li {
    width: 25%;
  }
  .feature img {
    width: 50%;
    margin-bottom: 0;
  }
  .feature .description {
    width: 50%;
    text-align: left;
    padding-left: 5%;
  }
  .feature.right img {
    float: right;
  }
  .feature.right .description {
    padding-left: 0;
    padding-right: 5%;
    float: right;
  }
  .widget_mc4wp_widget #mc4wp_email {
    width: 70%;
  }
  .widget_mc4wp_widget #mc4wp_submit {
    width: 30%;
  }
  .site-credits {
    text-align: left;
  }
  .site-credits .pluginby {
    display: inline;
    float: right;
  }
  .single-product .product .dlm-extension-detail-info {
    width: 30%;
    padding-right: 4%;
  }
  .single-product .product .dlm-extension-detail-info .dlm-extension-info-box table {
    margin: 0;
  }
  .single-product .product .dlm-extension-detail-copy {
    width: 70%;
    padding-left: 4%;
  }
  .footer-widgets .block .widget_text,
  .footer-widgets .block .widget_mc4wp_widget {
    text-align: left;
  }
  .extension-bundle-notice .ebn-icon-wrapper {
    display: inline-block;
  }
  .extension-bundle-notice p {
    display: inline;
    line-height: 45px;
  }
  .extension-bundle-notice a.button {
    float: right;
  }
}
