.single-product .storefront-breadcrumb {
    display: none;
}

/** Single Product Page **/

.single-product .dlm-extension-cta {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #35495c;
    background-color: #F3F3F3;
    padding: 20px;
    margin-left: -100%;
    margin-right: -100%;
}

.single-product .dlm-extension-cta p {
    margin-bottom: 0;
}

.single-product .dlm-extension-title h1 {
    color: #35495c;
    line-height: 1.4;
    text-align: center;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: .75rem;
}

.single-product .dlm-extension-short-description p {
    margin-bottom: 5rem;
    color: #6e747b;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
}

.single-product #dlm-extension-sidebar.sticky {
    position: fixed;
    top: 0;
    right: 0;
}

.single-product .product .dlm-extension-detail-info {
    float: right;
    padding: 20px;
}

.single-product .product .dlm-extension-detail-copy {
    padding-right: 4%;
}

.single-product .product .dlm-extension-detail-info.sticky {
    position: fixed;
}

.single-product .product .dlm-extension-detail-info .dlm-extension-info-box .license-select {
    text-align: left;
}

.single-product #pa_license .info {
    float: right;
    color: #484c51;
}

.single-product #pa_license label {
    font-weight: 700;
    font-size: 18px;
    opacity: 0.5;
}

.single-product #pa_license .selected {
    opacity: 1;
}

.single-product #pa_license .selected .info {
    color: #419CCB;
}

.single-product .product .extra-info th {
    background-color: transparent;
}

@media (max-width: 992px) {
    .single-product .product .dlm-extension-detail-info,
    .single-product .product .dlm-extension-detail-copy {
        width: 100%;
    }

    .single-product .dlm-extension-title h1 {
        margin-top: 1rem;
    }

    .single-product .dlm-extension-short-description p {
        margin-bottom: 0;
    }
}