.site-header-cart .widget_shopping_cart {
  background: #000000 url('../images/header-bg.png') repeat;
}
.site-header-cart .widget_shopping_cart .cart_list a img.attachment-shop_thumbnail {
  display: none;
}
.site-header-cart .widget_shopping_cart .buttons a {
  margin: 5px 0;
}
.products li {
  min-height: 380px;
  padding-bottom: 20px;
  border: 1px solid #e6e6e6;
}
.products li h3,
.products li p {
  padding: 0 20px;
  text-align: center;
}
.products li > p {
  min-height: 85px;
}
.products li .loop_price {
  font-weight: bold;
  margin: 0;
  float: left;
}
.products li .loop_more {
  margin-right: 20px;
  float: right;
}
.single-product .product {
  overflow: hidden;
}
.single-product .product form.cart {
  margin: 0 !important;
  margin-bottom: 25px !important;
  padding: 0 !important;
  border: 0 !important;
}
.single-product .product .dlm-extension-detail-image {
  width: 100%;
  margin-bottom: 40px;
  background: #419CCB;
  text-align: center;
}
.single-product .product .dlm-extension-detail-image img {
  margin: 0 auto;
}
.single-product .product .dlm-extension-detail-info,
.single-product .product .dlm-extension-detail-copy {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.single-product .product .dlm-extension-detail-info {
  width: 100%;
  float: left;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box {
  padding: 20px;
  margin-bottom: 25px;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box.extra-info {
  font-size: .9em;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box.extra-info table tr th {
  width: 30%;
  padding: 5px 0;
  text-align: left;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box.extra-info table tr td {
  width: 70%;
  padding: 5px 0 5px 20px;
  background: transparent;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box .license-free {
  font-weight: bold;
  text-align: center;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box .license-label {
  font-weight: bold;
  margin-bottom: 0;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box .license-select {
  text-align: center;
  color: #484c51;
  font-weight: bold;
  margin-bottom: 10px;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box .license-select select {
  width: 100%;
  padding: 5px;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box .license-add-to-cart button {
  width: 100%;
  text-align: center !important;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box .license-add-to-cart button i.fa-shopping-cart {
  padding-right: 10px;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box .license-copy {
  font-size: .9em;
}
.single-product .product .dlm-extension-detail-info .dlm-extension-info-box .button {
  display: block;
  text-align: center;
}
.single-product .product .dlm-extension-detail-copy {
  width: 100%;
  float: left;
}
.single-product .product .dlm-extension-detail-copy .changelog h2 {
  margin-bottom: 0;
}
.single-product .product .dlm-extension-detail-copy .changelog i {
  font-size: .9em;
}
.single-product .product .dlm-extension-detail-copy .changelog ul {
  margin: 10px 0 25px;
  padding: 0 0 0 15px;
}
.single-product .product .dlm-extension-detail-copy .n5-single-after-content-cta {
  margin-top: 15px;
  overflow: hidden;
  background: #5f656e;
  padding: 15px 20px;
  color: #fff;
}
.single-product .product .dlm-extension-detail-copy .n5-single-after-content-cta h3 {
  font-size: 1.1em;
  color: #fff;
  display: inline-block;
  padding-top: 8px;
  margin: 0;
}
.single-product .product .dlm-extension-detail-copy .n5-single-after-content-cta h3 i.fa {
  font-size: 20px;
  padding-right: 10px;
}
.single-product .product .dlm-extension-detail-copy .n5-single-after-content-cta a.button {
  float: right;
  margin-left: 9px;
}
.woocommerce-checkout abbr,
.woocommerce-checkout acronym {
  cursor: auto;
}
.woocommerce-checkout abbr[title] {
  border: 0 !important;
}
.woocommerce-checkout .dlm-what-happens-next {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce-checkout .dlm-what-happens-next strong {
  color: #484c51;
}
.woocommerce .page-description {
  width: 100% !important;
  margin-bottom: 1.618em;
}
.dlm-product-video-container {
  position: relative;
  padding-bottom: 51.85%;
  padding-top: 30px;
  margin-bottom: 30px;
  height: 0;
  overflow: hidden;
}
.dlm-product-video-container iframe,
.dlm-product-video-container object,
.dlm-product-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
ul.products li.product img {
  width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding: 0 0 10px 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  display: inline;
  padding-right: 20px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders,
.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--vat-number {
  display: none;
}
.woocommerce-account .woocommerce-MyAccount-content .lwp_button_convert_legacy {
  padding: .8em 1em;
  margin-bottom: 1.5em;
  background: #459ac9;
  color: #fff;
}
.woocommerce-account .woocommerce-MyAccount-content .order_details td.product-name {
  width: 70%;
}
.woocommerce-account .woocommerce-MyAccount-content .order_details .wcs-switch-link {
  margin-left: 40px;
  background: #459ac9;
  color: #fff;
  font-size: .9em;
}
.woocommerce-account .woocommerce-MyAccount-content .order_details .order_item .remove_item {
  display: none;
}
.woocommerce-account .woocommerce-MyAccount-content .cancel,
.woocommerce-account .woocommerce-MyAccount-content .change_payment_method,
.woocommerce-account .woocommerce-MyAccount-content .changeLicense {
  font-size: .9em;
}
