.contact {

    .field {
        font-size: 17px;
        line-height: 29px;
        color: #6B7C93;
    }

    .agreement {
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgba(26, 26, 87, 0.7);
    }

   .contact-title {
        color: #1A1A57;
        font-weight: 900;
        font-size: 52px;
      
   }

   .border-top-form {
       border-top : 2px solid #3CA6D3;
   }
}

.contact-send {
    width: 100%;

}