.navbar-light .navbar-nav {
    .login-menu-link {
        @media only screen and (max-width: 991px ) {
            padding: 1.5rem;
        }

        a {
            color: #506690;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 169.39%;
        }
    }

    .nav-link {
        &:hover,
        a:hover {
            color: #3CA6D3;
        }

        @media only screen and (min-width: 991px ) {
            padding-right: 0;
            padding-left: 3rem;
        }
    }
    .my-account-menu-link ul {
        @media only screen and (max-width: 991px ) {
            padding: 1rem;
        }
    }
}