.navbar-light .navbar-nav {
    .nav-link a {
        color: #506690;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 169.39%;
    }

    .nav-link:hover,
    .nav-link a:hover {
        color: #3CA6D3;
    }
}