.navbar-light .navbar-nav {
    margin: 0 auto;

    .nav-link {
        color: #1A1A57;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 169.39%;
    }

    .nav-link:hover {
        color: #3CA6D3;
    }
}