.button-background {
    background: linear-gradient(180deg, #3CA4D1 37.92%, #1D69A6 100%);
    border-radius: 6px;
    margin-top: 24px;
}
.homepage-header {

    .intro {
        font-style: normal;
        font-weight: 900;
        font-size: 52px;
        line-height: 60px;
        color: #1A1A57E5;
    }

    .description {
        font-weight: 500;
        font-size: 21px;
        line-height: 32px;
        color: rgba(26, 26, 87, 0.7);
    }
}
//Benefits

.text-benefits {
    width: 60px;
    height: 60px;
    background-color: #3CA6D3;
    border-radius: 60px;

    .homepage-benefits{
        width:32.5px; 
        height:26px; 
        margin:15px;
    }
}

.benefits {
    .homepage-titles {
        font-weight: 800;
        font-size: 21px;
        line-height: 149.85%;
        letter-spacing: -0.01em;
        color: #1A1A57;
    }

    .benefits-description {
        font-size: 16px;
        line-height: 24px;
        color: rgba(26, 26, 87, 0.7);
    }
}

//Extensions

.homepage-extensions {
    background-color: #E8F0F6;

    .extensions-title {
        font-style: normal;
        font-weight: 900;
        font-size: 31px;
        line-height: 143.33%;
        color: rgba(26, 26, 87, 0.9);
    }

    .extensions-divider {
        border: 2px solid #F3F7FB;
    }

    .extensions-price {
        color: #1A1A57;
        font-size: 12px;
    }

    .extensions-more {
        color: #3CA6D3;
        font-size: 12px;
    }

    h3.extensions-subtitle {
        color: #1A1A57;
        font-size: 21px;
        font-weight: 900;
    }

    .extensions-subtitle {
        font-size: 16px;
        font-weight: 500;
        color: rgba(26, 26, 87, 0.7);
    }
   
}
.interface {
    .interface-description {
        font-size: 31px;
        line-height: 143.33%;
        color: rgba(26, 26, 87, 0.9);
    }
}

.intuitive {
    .intuitive-description {
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: rgba(26, 26, 87, 0.7);
    }
}

.quick-add {
    .quick-add-description {
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: rgba(26, 26, 87, 0.7);
    }
  
}

.row-quick-add {
    flex-direction: row-reverse;
}

.versioning {
    .versioning-description {
        width: 100%;
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: rgba(26, 26, 87, 0.7);
    }

}

.intuitive-title, .quick-add-title, .versioning-title {
    font-weight: 900;
    font-size: 31px;
    color: rgba(26, 26, 87, 0.9);
}

@media only screen and (max-width: 768px) {
    .benefits {
        .homepage-titles,
        .benefits-description {
            text-align: center;
        }
        .text-benefits {
            margin: 0 auto;
        }
    }

    .row-quick-add {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }
  
}